body {
	background-image: url(cat_bg.png);
	background-size: repeat;
}

#atWork{
  float: left;
}

#central_cat_img{
	margin: 0 auto;
}

#hdr {
  direction: right;
  scroll-amount:5;
}

.main_txt{
  margin: 0 auto;
  text-align:center;
  width: 60%;
}

#About {
  font-family: 'Princess Sofia', cursive;
  font-size: 3em;
  font-color: blue;
  background-color: red;
}

#Rand_fact {
  font-family: 'Princess Sofia', cursive;
  font-size: 3em;
  font-color: blue;
  background-color: yellow;
}

#Rand_quote {
  font-family: 'Princess Sofia', cursive;
  font-size: 3em;
  font-color: blue;
  background-color: blue;
}

#tuna {
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px; width: 400px;
  position: absolute;
  bottom: 3em;
  margin-left: -300px;
  left: 50%;
  margin-bottom:100px;
  transition: margin-left 4s linear;
  animation: 
    walk-cycle 1s steps(12) 4, 
    sit-down .5s steps(5) 4s 1;
  animation-fill-mode: forwards;
}


/* Above I'm using duration to kick off a second animation after the first starts. See this key:

animation: name duration timing-function delay iteration-count direction fill-mode; */

@keyframes walk-cycle {  
  0% { background-position: 0 0; } 
  100% {background-position: 0 -2391px; } 
}

@keyframes sit-down {  
  0% { background-position: -400px 0; } 
  100% {background-position: -400px -1000px; } 
}

/*Ads */
.bottom_ads img{
  display:inline-block;
}

.bottom_ads .small_img{
  width:250px;
  height:250px;
}
